<%- include("partials/header.ejs") %>

<% if(locals.err) { %>
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow p-4">
            <div class="modal-header border-bottom-0">
              <h1 class="modal-title fs-5"><%= err %></h1>
            </div>
            <div class="modal-footer flex-column align-items-center w-100 gap-2 pb-3 border-top-0">
                <form action="/backHome" method="post">
                    <button class="btn btn-primary" type="submit">Home</button>
                </form>
            </div>
          </div>
        </div>
      </div>   
<% } %>