<%- include("partials/header.ejs") %>

<% if(locals.err) { %>
    <h1><%= err %></h1>    
<% } %>

<form action="/backHome" method="post">
    <button class="btn btn-primary" type="submit">Back</button>
</form>

<%- include("partials/footer.ejs") %>