<%- include("partials/header.ejs") %>

<h1>Here is a title</h1>

<form action="/searchDrink" method="post">
    <input name="drinkName" type="text" placeholder="Search by name or letter" />
    <input class="btn" type="submit" value="Submit" />
</form>

<form action="/searchIngredient" method="post">
    <input name="ingredient" type="text" placeholder="Search by ingredient" />
    <input class="btn" type="submit" value="Submit" />
</form>

<form action="/random" method="post">
    <button class="btn" type="submit">Click for random drink!</button>
</form>

</body>
</html>