<%- include("partials/header.ejs") %>

<h1>Here is a title</h1>

<form action="/searchDrink" method="post">
    <input name="drinkName" type="text" placeholder="Search by name or letter" />
    <input name="ingredient" type="text" placeholder="Has specific ingredient" />
    <input class="btn" type="submit" value="Discover drinks" />
</form>

<form action="/searchDrink" method="post">
    <button class="btn" type="submit" name="getRandomDrink" value="true">Click for random drink!</button>
</form>

</body>
</html>