:root{
    --clr1: #F1EFEF;
    --clr2: #CCC8AA;
    --clr3: #dd2144;
    --clr4: #191717;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

footer{
    background: none;
    width: 100%;
}

form{
    width: fit-content;
}
